@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.container {
  margin: 120px auto 60px auto;
  width: 50%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: Raleway, Lato, sans-serif;
  margin: 0;
  margin-bottom: 30px;
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 0;
}

.menu__link {
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 2px solid white;
  font-size: 16px;
  margin: 0 12px;
  letter-spacing: 1px;
}
.menu__link:active,
.menu__link:focus {
  color: #444;
}
.menu__link:hover {
  border-bottom: 2px solid #222;
  box-sizing: border-box;
  color: #222;
}

.question {
  margin-bottom: 26px;
}
.question__question {
  font-size: 16px;
  margin-left: 4px;
}

.question__answer {
  opacity: 0;
  transition: all ease 0.2s;
  max-height: 0;
  overflow: hidden;
  color: #444;

  line-height: 1.5;
  display: block;
  font-size: 14px;
}
.question__answer--show {
  opacity: 1;
  max-height: 200px;
}

.question__button {
  border: 0;
  line-height: 18px;
  font-size: 12px;
  text-transform: uppercase;
  width: 66px;
  transition: all ease 0.3s;
  display: inline-block;
  color: #444;
  font-weight: bold;
  background: none;
}
.question__button:focus,
.question__button:active {
  outline: 0;
  border: 0;
}

.question__button:hover {
  cursor: pointer;
}

.center {
  text-align: center;
  margin: auto;
}

.api--header {
  font-weight: bold;
  margin-top: 50px;
}

.api {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  margin-bottom: 25px;
}
.api__url,
.api__description,
.api__example {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 33.33%;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .api__example {
    display: none;
  }
}
