.questions__header {
  background: transparent;
  color: #222;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
  justify-content: flex-start;
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 56px;
}

.question__header--hide {
  opacity: 0;
}

.question__header__fixed {
  position: fixed;
  background: #27ae60;
  color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
  padding: 16px;
  border-radius: 0px;
  font-size: 28px;
  line-height: 22px;
}

.question__header__fixed--show {
  opacity: 1;
  z-index: 100;
  pointer-events: all;
}

.questions__header_text {
  justify-content: flex-start;
}

.question__header__fixed .questions__header_text {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.questions__header__spacer {
  flex: 1;
}

@media (max-width: 600px) {
  .questions__header {
    flex-direction: column;
    justify-content: center;
    padding: 12px;
  }
  .questions__header__spacer {
    flex: 0;
  }
  .questions__header_text {
    flex: auto;
    margin-bottom: 10px;
    text-align: center;
  }
}
