extends ./layout.pug

block body
    main.container
        include partials/header.pug
        
        h2 About

        p Just CSS questions and answers.
        p If you would like to add a question or find any mistakes send an email to 
            a(href="mailto:cssquestionsio@gmail.com") cssquestionsio@gmail.com