extends ./layout.pug

block body
    main.container
        include partials/header.pug
        ol
            each question in questions
                li.question
                    span(class="question__question")= question.question
                    button.question__button Answer
                    p(class="question__answer")= question.answer