extends ./layout.pug

block body
    h1 CSS questions
    ol
        each question in questions
            li
                span= question.question
                button Answer
                p= question.answer