html
  head
    title CSS Questions
    link(href="styles/index.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification" content="JYaR-KYFgd1ymMMvIMvryubrgSupxbd5f0xICM-70Ao")

  body
    block body
    
    script(src="js/index.js")
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-73073769-6')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-73073769-6');

