html
  head
    title CSS Questions
    link(href="styles/index.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block body
    
    script(src="js/index.js")