.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}

.question__number {
  font-weight: 700;
  font-size: 20px;
  margin-right: 16px;
  width: 40px;
}

ol .question__card {
  list-style-type: none;
}

.question__card {
  box-shadow: 0 0 1px rgba(240, 242, 247, 0.1), 0 6px 12px rgba(0, 32, 128, 0.1);
  padding: 24px;
  padding-right: 26px;
  width: 100%;
  background-color: white;
  transition: 0.4s ease all;
  border-radius: 4px;
  position: relative;
}
.question__card:hover {
  box-shadow: 0 0 2px rgba(240, 242, 247, 0.15),
    0 12px 24px rgba(0, 32, 128, 0.15);
  cursor: pointer;
}
.question__card:active {
  box-shadow: 0 0 1px rgba(240, 242, 247, 0.1), 0 6px 12px rgba(0, 32, 128, 0.1);
  cursor: pointer;
  background-color: #f1f1f1;
}

.question__card--checked {
  background-color: rgba(46, 204, 112, 0.7);
}

.question__question {
  font-size: 16px;
  font-weight: 700;
  color: #1f253d;
  backface-visibility: hidden;
}

.question__answer {
  opacity: 1;
  transition: 0.3s ease all;

  color: #444;

  line-height: 1.5;
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.question__checkbox {
  border: 1px solid rgba(46, 204, 112, 0.7);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: 0.5s ease all;
  background-color: transparent;
}
.question__checkbox--checked {
  /* border: 1px solid white; */
  background-color: white;
}
.question__checkbox--checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 4px;
  height: 12px;
  border: 1px solid rgba(46, 204, 112, 0.7);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: 0.5s ease all;
}
