@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Raleway");

html,
body {
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #f5f6fa;
}

.container {
  margin: 50px auto 60px auto;
  width: 50%;
}

.header {
  margin-top: 80px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.title {
  text-align: center;
  font-size: 50px;
  font-family: Raleway, Lato, sans-serif;
  margin: 0;
  margin-bottom: 30px;
  display: block;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 0;
}

.menu__link {
  color: #444;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  margin: 0 12px;
  letter-spacing: 1px;
}
.menu__link:active,
.menu__link:focus {
  color: #444;
}
.menu__link:hover {
  border-bottom: 2px solid #222;
  box-sizing: border-box;
  color: #222;
}

.questions__header {
  background: transparent;
  color: #222;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  position: relative;

  box-sizing: border-box;
}

.question__header--hide {
  opacity: 0;
}

.question__header__fixed {
  position: fixed;
  background: rgba(127, 254, 117, 1);
  color: white;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}

.question__header__fixed--show {
  opacity: 1;
  z-index: 100;
  pointer-events: all;
}

.questions__header__clear {
  background-color: #e74c3c;
  color: white;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  position: absolute;
  right: 24px;
  top: 24px;
  padding: 8px;
}

.questions__header__clear:hover {
  cursor: pointer;
}

@media (max-width: 350px) {
  .questions__header__clear {
    right: 8px;
  }
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}

.question__number {
  font-weight: 700;
  font-size: 20px;
  margin-right: 16px;
  width: 40px;
}

ol .question__card {
  list-style-type: none;
}

.question__card {
  box-shadow: 0 0 1px rgba(240, 242, 247, 0.1), 0 6px 12px rgba(0, 32, 128, 0.1);
  padding: 24px;
  width: 100%;
  background-color: white;
  transition: 0.4s ease all;
  border-radius: 4px;
  position: relative;
}
.question__card:hover {
  box-shadow: 0 0 2px rgba(240, 242, 247, 0.15),
    0 12px 24px rgba(0, 32, 128, 0.15);
  cursor: pointer;
}
.question__card:active {
  box-shadow: 0 0 1px rgba(240, 242, 247, 0.1), 0 6px 12px rgba(0, 32, 128, 0.1);
  cursor: pointer;
  background-color: #f1f1f1;
}

.question__card--checked {
  background-color: rgba(127, 254, 117, 0.7);
}

.question__question {
  font-size: 16px;
  font-weight: 700;
  color: #1f253d;
  backface-visibility: hidden;
}

.question__answer {
  opacity: 1;
  transition: 0.3s ease all;

  color: #444;

  line-height: 1.5;
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

.question__checkbox {
  border: 1px solid rgba(127, 254, 117, 0.7);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: 0.5s ease all;
  background-color: transparent;
}
.question__checkbox--checked {
  /* border: 1px solid white; */
  background-color: white;
}
.question__checkbox--checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 7px;
  width: 4px;
  height: 12px;
  border: 1px solid rgba(127, 254, 117, 1);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: 0.5s ease all;
}

.center {
  text-align: center;
  margin: auto;
}

.Github {
  opacity: 0.7;
}

.Github:hover {
  opacity: 1;
}

.Header__github {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}
